@charset "utf-8";
/* CSS Document */
.banner{ background:#fff;}
.bg{ background:#fbf4d7;}
.topbox{ background:#ffd779; padding:8px 8px 2px 8px;}
.yl_box{ background:#ffb422; padding:0 9px 2px 9px; margin-bottom:10px;}
.title{ background-image:url(../images/prize/tit_bg.png); background-size: 100% 42px; text-align: center; height: 42px; line-height: 42px; color: #fff; font-size: 17px; font-weight: bold;}
.tit01{background:#fff5d1;height: 32px; line-height: 32px; color: #4d4d4d; font-size: 14px; padding:0 14px;}
.tit01 span{ float:left; line-height: 32px; color: #4d4d4d;}
.tit01 em{ float:right; text-align:right; line-height: 32px; color: #4d4d4d; }
.tit01 b{ float:left; font-size:12px; line-height: 32px;  text-align:center; color:#4d4d4d;}
.pm{ width:10%;}
.tz{ width:33%;}
.nh{ width:36%;}
.tc{ width:20%;}
.mc_box strong{float:left; font-size:12px; line-height: 32px; font-weight:normal;  text-align:center; color:#4d4d4d;}
.mc_box .og{ color:#fc5903;}
.wt_box{ padding:12px; background: #fff; margin-bottom: 8px;}
.wt_box h2{ font-size: 16px; line-height: 16px; color:#4d4d4d; margin: 0; padding: 0; font-weight: normal;}
.wt_box .left{ font-size:10px; float:left;color:#999999; line-height:20px; margin-top: 2px;}
.wt_box .day p{ font-size:28px; line-height:28px; float:left; color:#FD5903; clear: left;}
.wt_box .day p span{ font-size:18px;}
.wt_box .day b{ float:right; color:#999999; font-size:10px; font-weight:normal; width:40%; text-align:left; margin-top:-15px;}
.wt_box .day b em{font-size:18px; display:block; margin-top:3px;}
.wt_box .rt{ float:left; font-size:8px;color:#999999; line-height:8px; margin-top:-3px; margin-left:4px;}
.wt_box .orange { width:18%; background:#FD5903; height:3px; float:left;}
.wt_box .gray { width:100%; background:#CCCCCC;height:3px; float:left;}
.wt_box .wl{ width:89%; float: left;}
.wt_box .og{ line-height:12px; font-size: 12px; color:#fd5903; background: url(../images/prize/icon01.png) no-repeat; background-size: 12px 12px; padding-left: 15px; margin-top: 5px;}
.mc_box{ padding:0 12px 12px 12px; background: #fff; margin-bottom: 8px;}
.yl_bg{ background:#fff5d1; width:100%; float:left;}
.mc_left{ float:left; font-size:12px; color:#808080; padding:10px 2px;}
.mc_left span{ color:#4d4d4d; float:left;}
.mc_left em{ clear:both; float:left; color:#4d4d4d; }
.mc_left img{ float:left; width:50px; margin-left:5px; margin-top:2px;}
.mc_right{ float:right; font-size:12px; color:#808080; text-align:right; padding:10px 2px;}
.mc_right span{ float:right; clear:both;color:#4d4d4d; }
.mc_box p{ height:1px; background:#dddddd; padding:0px; font-size:0px; line-height:0px; clear:both; width:100%; }
.rule{ font-size:14px; color:#808080;  padding:25px 22px;}
.rule p{ color:#fc5903; font-size:16px;}
.no_sj{ text-align:center; padding:20px 0 10px 0; color:#b2b2b2; font-size:14px;}
.no_sj a{ display:block; width:100%; color:#fc5903;}
a.bt01{ width:100%; text-align:center; background:#fc5903; color:#FFF; font-size:18px; line-height:44px; height:44px; display:block; margin-bottom:8px;}
a.bt01:hover{color:#FFF; font-size:18px;}
#owl-demo { width: 100%; margin-left: auto; margin-right: auto; text-align: center;}
#owl-demo .item{ display:inline-block; width: 100%; height: auto; text-align: center;}
#owl-demo img { display: inline-block; height: 175px; width: auto; align-content: center;  }
.banner{ height:230px; padding-top: 10px; margin-bottom:10px;}
.word {margin-top:8px;}
